$p-1: 0.625rem; // 10px
$p-2: 1.25rem; // 20px
$p-3: 1.875rem; // 30px
$p-4: 2.5rem; // 40px
$p-5: 3.125rem; // 50px

$p-12: 0.75rem; // 12px
$p-15: 0.938rem; // 15px
$p-25: 1.563rem; // 25px
$p-35: 2.188rem; // 35px
$p-45: 2.813rem; // 45px
$p-55: 3.438rem; // 55px

@mixin container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 $p-12;
}

@mixin row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -$p-1;
}

@mixin item {
  padding: 50px 10px;
  box-sizing: border-box;
  width: calc(100% / 12 * 3 - 30px);
  margin: 15px;

  @media screen and (max-width: 960px) {
    width: calc(100% / 12 * 4 - 30px);
  }

  @media screen and (max-width: 720px) {
    width: calc(100% / 12 * 6 - 30px);
  }

  @media screen and (max-width: 520px) {
    width: calc(100% - 30px);
  }
}