@import "reboot";

html {
  height: 100% !important;

  body {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Regular', sans-serif;

    footer {
      margin-top: auto;
    }
  }
}

@import "fonts";
@import "common";
@import "../layout/header/header";
@import "../pages/index/index";
@import "../layout/footer/footer";